# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook
.ipynb_checkpoints

# LaTeX intermediate files
*.aux
*.log
*.out
*.toc

# Uploads
uploads/
